@import '../../Colors.module.scss';

.chart {
  width: 100%;
  height: 350px;
}

.topline {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .dchooser {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    .dtime {
      border-radius: 5px;
      padding: 2px 8px;
      cursor: pointer;
      transition: all 0.3s ease;
      background: $graph-button-background;
      margin-right: 3px;
    }

    .dtime:hover {
      background: $graph-button-background-hover;
    }

    .dtime.selected {
      background: $graph-button-background-selected;
    }
  }
}
