@import '../Colors.module.scss';

.label {
  min-width: 108px;
  text-align: center;

  &.success,
  &.available {
    color: $success-color;
    background: $success-background;
    border-color: $success-border;
  }

  &.terminated {
    color: $terminated-color;
    background: $terminated-background;
    border-color: $terminated-border;
  }

  &.failed,
  &.unavailable {
    color: $failed-color;
    background: $failed-background;
    border-color: $failed-border;
  }

  &.pending,
  &.deploying {
    color: $pending-color;
    background: $pending-background;
    border-color: $pending-border;
  }

  &.running,
  &.monitoring {
    color: $running-color;
    background: $running-background;
    border-color: $running-border;
  }
}
