#widget-container h2 {
    color: var(--theia-ui-font-color1);
    font-size: 12px;
    font-weight: 400;
    padding: 10px;
    text-transform: uppercase;
}

#deployments {
    width: 100%;
}
#deployments th {
background-color: #68b6ff;
color: #000;
padding: 5px;
}
#deployments td {
    padding: 5px;
    }
    
#deployments tr:nth-child(even) {
    background-color: #414141;
}